.navbar {
    background: linear-gradient(to right, grey, black);
  }
  .navbar .navbar-brand {
    font-size: x-large;
  }


  .triggerwarning {
      background-color: grey;
      justify-content: center;
      justify-items: center;
      text-align: center;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .nav-link {
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .nav-link:hover {
    opacity: 0.5;
    background: grey;
  }
  

  .carpas {
      max-width: 100%;
  }